<div class="container mt-5">
	<br>
  <div class="row">
  	<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
  		<div class="card">
	    <h2><%= @genre.name %></h2>
      <% if @genre.user_id == current_user.id || current_user.superadmin? %>
      <%= link_to 'Edit', edit_genre_path, class:'btn btn-sm btn-secondary' %>
      <%= link_to 'Delete', admin_genre_path(@genre), method: :delete, data: {confirm: "Are you sure?"}, class:'btn btn-sm btn-danger'%>
      <% end %>
		  </div>
  	</div>	  
   </div>
    <h2 class="lead mt-5">Songs that are in <%= @genre.name %> genre.</h2>
    <table class="table pt-5 mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th></th>
          <th>Song</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Length</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        <%= render @song %>
      </tbody>
    </table>
  </div>
</div> 