<% unless logged_in? %>
<section id="splash-blue">
	<div class="layer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 jumbotron">
					<div class="to-center text-center">
						<h2 class="display-1">FavPlay</h2>
						<br>
						<p class="lead">Create ultimate playlists with your favorite artists!</p>
						<p>Create an account with us, or simply log in below!</p>
						<p class="lead">
							<%= link_to 'Log in', login_path, class: "btn btn-primary" %>
							<%= link_to 'Sign up!', new_user_path, class: "btn btn-primary" %>
						</p>	
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	<% else %>
  <%= display_flash :notice %>
	<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-8 col-sm-8 pr-5">
      	<br>
        <div class="row">
          <%= render 'songs' %>
        </div>
      </div>  
        <!--/row-->
      <!--/.col-xs-12.col-sm-9-->
      <div class="col-xs-1 col-sm-4 mt-5 pt-5 pl-5" id="sidebar">
        <div class="card home-card">
			    <div class="card-block">
				   	 <h4 class="card-title">Popular Songs</h4>
				     <%= render 'popular_songs' %>
			       <div class="mt-5">
			       	<h4 class="card-title">Latest Albums</h4>
				      <%= render 'latest_albums' %>
				    </div>
          </div>
        </div>
      <!--/.sidebar-offcanvas-->
      </div>
    <!--/row-->
<% end %>	
</div>
</div>
</div>

