<section id="splash-blue">
	<div class="layer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 jumbotron">
					<div class="to-center text-center">
					<% unless logged_in? %>
						<h1 class="display-3">Fav Play</h1>
						<br>
						<p class="lead">Create ultimate playlists with your favorite artists!</p>
						<p>Create an account with us, or simply log in below!</p>
						<p class="lead">
							<%= link_to 'Log in', login_path, class: "btn btn-primary" %>
							<%= link_to 'Sign up!', new_user_path, class: "btn btn-primary" %>
						</p>	
					<% else %>
		        <h1 class="display-3">Your Playlist Below</h1>
						<p class="lead">Start now!</p>
								<hr class="my-1">
								<p>Ask for help if needed</p>
		      <% end %>
			      <div class="row">
		    			<%= form_tag(songs_path, method: :get, class: 'input-group') do %>
						  <%= text_field_tag :term, params[:term], class: 'form-control', placeholder: 'Search for...' %>
						  <span class="input-group-btn">
						  <%= submit_tag 'Search', name: nil, class: 'btn btn-secondary' %>
						  </span>
						  <% end %>
						</div>  
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>	
