<tr>
  <th scope="row"><%= link_to song.id, song_path(song) %></th>
  <td><%= link_to song.name, song_path(song)%></td>
  <td><%= link_to song.artist.name, artist_path(song.artist_id)%></td>
  <td><%= link_to song.album.name, album_path(song.album_id)%></td>
  <td><%= link_to song.length, song_path(song)%></td>
  
</tr>