<% @songs.each_with_index do |song, i| %>
<tr>
  <th scope="row"><%= (i+1) %></th>
<% if logged_in? %>
    <td>
      <% unless current_user.favorite_songs.exists?(id: song.id) %>
        <%= link_to favorite_songs_path(song_id: song), method: :post do %>
          <i class="fa fa-heart-o" aria-hidden="true" rel="tooltip" data-placement="top" title="Add to favorites"></i>
        <% end %>
      <% else %>
        <%= link_to favorite_song_path(song), method: :delete do %>
          <i class="fa fa-heart" aria-hidden="true" rel="tooltip" data-placement="top" title="Remove from favorites"></i>
        <% end %>
      <% end %>
    </td>
  <td><%= link_to song.name, song_path(song) %></td>
  <td><%= link_to song.artist.name, artist_path(song.artist_id)%></td>
  <td><%= link_to song.album.name, album_path(song.album_id)%></td>
  <td><%= link_to song.length, song_path(song)%></td>
  <td><%= link_to song.genre.name, genre_path(song.genre_id)%></td>
    <td>
      <%= link_to song.youtube_link, target: :_blank do %>
       <i class="fa fa-play" aria-hidden="true" rel="tooltip" data-placement="top" title="Press to play on YouTube"></i>
    </td>  
    <td>
      <a data-toggle="modal" data-target="#addSong" data-id="<%= song.id %>" title="Add this song to playlist" class="open-AddSong" href="#addSong"><i class="fa fa-plus" aria-hidden="true" rel="tooltip" data-placement="top" title="Add to playlist"></i></a>

      <div class="modal fade" id="addSong">
        <%= render 'shared/add_song_to_playlist' %>
      </div>
    <% end %>  
    </td>
  <% end %>
  </tr>
<% end %>
</div>