  <table class="table pt-5">
    <thead>
			<tr>
    		<th>Name</th>
    		<th>Length</th>
			</tr>
		</thead>
		<tbody>
    <% @playlist.songs.each do |song| %>
			<tr>
				<td><%= link_to song.name, song_path(song) %></td>	
				<td><%= song.length %></td>		
				<td>
				<% if logged_in? %>
					<% unless current_user.favorite_songs.exists?(id: song.id) %>
						<%= link_to favorite_songs_path(song_id: song), method: :post do %>
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					<% end %>
					<% else %>
						<%= link_to favorite_song_path(song), method: :delete do %>
						<i class="fa fa-heart" aria-hidden="true"></i>
						<% end %>
					<% end %>
				</td>
				<td>
					<%= link_to song.youtube_link, target: :_blank do %>
					<i class="fa fa-play" aria-hidden="true"></i>
					<% end %>
        </td>
        <td>
					<%= link_to playlist_song_path(song_id: song.id, playlist_id: @playlist.id), method: :delete do %>
					<i class="fa fa-times" aria-hidden="true"></i>
					<% end %>

				</td>
				<% end %>
			</tr>
		<% end %>
		</tbody>
  </table>