<div class="row mt-5">
	<div class="container mt-5">
		<div class="col-md-8 offset-md-2">
			<p id="notice"><%= notice %></p>
			 <h3><%= @playlist.name %></h3>
			<br>	
		  <%= render 'song' %>
      <%= link_to 'Edit', edit_playlist_path(@playlist) %> |
			<%= link_to 'Back', playlists_path %>
	  </div>
	</div>
</div>	

